= link_to "New Quote", new_quote_path
- @quotes.each do |quote|
  .card
    .card-body
      %blockquote.blockquote.mb-0
        %p
          = quote.body
        %footer.blockquote-footer
          = quote.introduction

    .card-footer.text-muted
      created
      = time_ago_in_words(quote.created_at)
      ago ||
      dsad
