.card.custom-margin
  .card-body
    %h5 Give us your opinion
    = simple_form_for [@quote, @quote.comments.build], remote: true  do |f|
      = f.error_notification
      = f.input :body, label: false, placeholder: "This is good one"
      = f.button :submit, class: "btn-primary"
