// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

BODY {
  background: linear-gradient( 90deg,
      rgba(255, 225, 132, .7) 50%, rgba(255,255,255, 0) 50%),
    linear-gradient( 90deg,
      rgba(32, 113, 120, .3) 50%, rgba(255,255,255, 0) 50%),
    linear-gradient( 90deg,
      rgba(255, 150, 102, .3) 50%, rgba(255,255,255, 0) 50%),
    linear-gradient( 90deg,
      rgba(23, 76, 79, .1) 50%, rgba(255,255,255, 0) 50%);
  background-size: 7em 7em, 5em 5em, 3em 3em, 1em 1em;
  background-color: #F5E9BE;
  padding-top: 65px;
  }

/* INDEX */
.custom-margin {
  margin: 10px 0;
}

.text-muted {
  a {
    color: #6c757d
  }
}
/* NEW */
.distance {
  margin-top: 15vh;
}
